DATABASE_URL=your_database_url

# Paystack
PAYSTACK_SECRET_KEY=your-paystack-secret-key
PAYSTACK_PUBLIC_KEY=your-paystack-public-key
PAYSTACK_INITIALIZE_URL=https://api.paystack.co/transaction/initialize
PAYSTACK_VERIFY_URL=https://api.paystack.co/transaction/verify/